{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
    <div id="app" class="bg-gradient-to-r from-slate-800 to-slate-950 h-full min-h-screen py-12">
        {% raw %}
            <div class="container mx-auto">
                <div class="flex flex-col items-center justify-center mb-8">
                    <div>
                        <img src="/static/convert.svg" class="h-72 mb-5">
                    </div>
                    <h1 class="text-6xl font-bold text-white shadow-md text-center mb-4">
                        Generate an <span class="text-violet-500">Avatar</span> from your profile picture.<br>
                        with the power of <span class="text-violet-500">AI</span>
                    </h1>
                    <p class="text-gray-400 text-center mb-5">
                        Incididunt sint fugiat pariatur cupidatat consectetur sit cillum anim id veniam aliqua proident
                        excepteur commodo do ea.
                    </p>
                </div>
                <div
                        class="border-2 border-slate-700 select-none border-dashed py-10 px-8 flex flex-col items-center cursor-pointer"
                        :class="{'is-drag': drag}"
                        @click="openFile"
                        @drop="dropFile"
                        @dragOver="dragOverFile"
                        @dragLeave="dragLeaveFile"
                >
                    <input type="file" class="hidden" ref="file" accept="image/png, image/jpeg, image/svg"
                           @change="changeFile" multiple="multiple">
                    <img src="/static/upload.svg" class="h-60 white-svg">

                    <p class="text-gray-400 text-center mb-5" v-if="filename">{{ filename }}</p>
                    <h1 class="text-3xl text-slate-500 shadow-md text-center" v-else>
                        Drag your photo here
                    </h1>
                </div>
                <div class="text-center mb-12">
                    <button class="px-4 py-2 rounded-sm text-white bg-slate-700 hover:bg-slate-600 text-sm mt-5 mb-4"
                            @click="submit" :disabled="submitting">
                        Generate
                    </button>

                    <div class="text-center" v-if="submitting">
                        <div role="status">
                            <svg aria-hidden="true"
                                 class="inline w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-violet-500"
                                 viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                      fill="currentColor"/>
                                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                      fill="currentFill"/>
                            </svg>
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>

                <div class="text-center" v-if="aiResult">
                    <img
                            v-for="res in aiResult"
                            :src="res.url"
                            class="h-72 w-72 inline-block m-2"
                            alt="">
                </div>
            </div>
        {% endraw %}
    </div>
{% endblock content %}

{% block script %}
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    file: [],
                    filename: '',
                    drag: false,
                    submitting: false,
                    aiResult: ''
                }
            },
            methods: {
                changeFile(e) {
                    this.file = e.target.files

                    for (file of e.target.files) {
                        this.filename += `${file.name} |`
                    }
                },
                openFile() {
                    if (this.submitting) {
                        return
                    }
                    this.$refs.file.click()
                },
                dragOverFile(e) {
                    e.preventDefault()
                    this.drag = true
                },
                dragLeaveFile() {
                    this.drag = false
                },
                dropFile(e) {
                    if (this.submitting) {
                        return
                    }
                    e.preventDefault()
                    e.dataTransfer.effectAllowed = "none";
                    e.dataTransfer.dropEffect = "none";
                    const files = e.dataTransfer.files
                    this.file = files

                    for (file of files) {
                        this.filename += `${file.name} |`
                    }
                    this.drag = false
                },
                async submit() {
                    if (this.submitting) {
                        return
                    }
                    const formData = new FormData();
                    for (file of this.file) {
                        formData.append("files", file);
                    }

                    try {
                        this.submitting = true
                        const {data} = await axios.post('/image/generate', formData, {
                            'Content-Type': 'multipart/form-data',
                        })

                        this.aiResult = data
                    } catch (e) {
                        console.error(e)
                    } finally {
                        this.submitting = false
                    }
                }
            },
            mounted() {
            }
        })
    </script>
{% endblock script %}